@import "./constants/fonts.constant.scss";
@import "./constants/reset.constant.scss";
@import "./constants/responsive.constant.scss";

@import "../../modules/App/Sidebar/Sidebar.scss";
@import "../../modules/App/Header/Header.scss";
@import "../../modules/Home/Dashboard.scss";
@import "../../modules/Auth/Auth.scss";
@import "../../modules/UserManager/UserManager.scss";
@import "../../modules/UserManager/UserManagerForm/UserManagerForm.scss";
@import "../../modules/UserDetail/UserDetail.scss";
@import "../../modules/WorkManager/WorkManager.scss";
@import "../../modules/WorkManager/WorkManagerForm/WorkManagerForm.scss";