*{
    box-sizing: border-box;
}
.font-size-14{
    font-size: 14px;
}

.text-break{
    overflow-wrap: break-word;
     word-break: break-word;
}

.text-grey-1{
    color: rgba(141, 141, 141, 0.54);
}

.text-overflow-custom{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 3rem;
}