.modal-title{
    margin-bottom: 0;
    text-transform: uppercase;
}

.upload-btn-wrapper {
    padding-left: 0px;
  }
  
//   .btn-upload {
//     border: 2px solid gray;
//     background-color: white;
//     border-radius: 8px;
//   }
  
// //   .upload-btn-wrapper input[type=file] {
// //     width: 100%;
// //     font-size: 100px;
// //     position: absolute;
// //     left: 0;
// //     top: 0;
// //     z-index: 1000;
// //     opacity: 0;
// //   }

.text-validate{
  color: red;
}

.progress-ant-custom{
  .ant-progress-text{

    text-align: right;
  }
}

.spin-icon-form{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.685);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}