// .custom-input-datepicker{
//     padding: ;
//     border: 1px solid #E3E3E3;
//     border-radius: 5px;
//     background-color: #FFFFFF;
// }

.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker-popper{
    width: 350px;
    z-index: 1111;
}