@import "../../../assets/scss/constants/variables.constant.scss";
@import "../../../assets/scss/constants/responsive.constant.scss";
.logo-user {
  width: 100%;
  padding: 5% 10% 5% 10%;
  font-size: 0.9em;
  color: $text-color-white;
  display: flex;
  flex-direction: row;
  .user-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    p {
      margin-bottom: 0;
      letter-spacing: 1px;
      color: #2e97f8;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.setting-icon{
  letter-spacing: 1px;
  transition: all 0.3s ease;
  &:hover{
    color: $text-color-blue;
    cursor: pointer;
  }
}


// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(handhelds) { width: 100% ;}
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
// }

.ant-tooltip {
  position: fixed;
}