@import "../../../assets/scss/constants/variables.constant.scss";
@import "../../../assets/scss/constants/responsive.constant.scss";
.user-intro{
  display: flex;
  padding: .75rem 1rem;
  &_logo{
    width: 30%;
    text-align: center;
  }
  &_info{
    width: 70%;
    color: white;
    margin-left: .25rem;
    &_welcome > span {
        font-size: 12px;
    }
    &_name{
      cursor: pointer;
      color: $text-color-blue;
    }
  }
}

.setting-icon{
  letter-spacing: 1px;
  transition: all 0.3s ease;
  &:hover{
    color: $text-color-blue;
    cursor: pointer;
  }
}

// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(handhelds) { width: 100% ;}
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
// }

// .ant-tooltip {
//   position: fixed;
// }