.login-wrapper{
    background-image: url('../../assets/img/tea.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .row{
        .card{
            border-radius: 10px;
        }
    }
}