.login-wrapper{
    background-image: url('https://wallpapercave.com/wp/GoYcMqd.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .row{
        .card{
            border-radius: 10px;
        }
    }
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 9999;
}